<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="REDIS_HOST" value="192.168.1.44"/>
    <add key="REDIS_PORT" value="6379"/>
    <add key="REDIS_ID_DATABASE" value="1"/>
    <add key="REDIS_PASSWORD" value="SuaSenha"/><!--para usar seu serviço com autenticação-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
